* {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-light);
}

img {
  max-width: 100%;
}
