@import "../../../../assets/scss/sizing";

.feature_card {
  background-color: var(--clr-vintage);
  border-radius: $size-2xs;

  &__header {
    padding: 0;
  }

  &__content {
    padding: 0 $size-lg $size-md;
  }

  &__actions {
    padding: 0 $size-lg $size-lg;
  }

  &__cover {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    opacity: 0.8;
  }

  &__title {
    margin-top: $size-xs;
    margin-bottom: $size-mini;
    font-size: $size-xl;
    color: var(--clr-dark) !important;
  }

  &__text {
    margin-bottom: $size-xs;
    font-size: $size-md;
    color: var(--clr-dark) !important;
  }
}
