<app-page-header title="Characters" />

<section class="characters">
  <div class="wrapper">
    <aside class="sidebar">
      <mat-icon matListItemIcon>folder</mat-icon>

      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Alignments">Content 1</mat-tab>
        <mat-tab label="Conditions">Content 2</mat-tab>
        <mat-tab label="Languages">Content 3</mat-tab>
      </mat-tab-group>
    </aside>
    <div>
      <app-alignments />
      <app-conditions />
      <app-languages />
    </div>
  </div>
</section>
